body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  background-color: #cab39f;
  width: 100%;
  max-width: 400px;
  height: 80vh;
  max-height: 700px;
  overflow: hidden;
  margin: auto 0;
}

.title {
  font-family: Bangers-Regular, sans-serif;
  letter-spacing: 3px;
  color: firebrick;
  margin: 5vh 0 5vh 0;
}

.screen-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30%;
  font-family: Digital-7;
  margin-bottom: 20px;
}

.result-screen {
  height: 50%;
  border: none;
  background-color: white;
  margin: 20px;
  padding: 20px 10px;
  font-size: 26px;
}

#input {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  margin-left: auto;
  margin-right: 20px;
  font-family: Digital-7;
  font-size: 22px;
}

.keyboard {
  display: flex;
  flex-direction: row;
}

.keyboard button {
  font-weight: 600;
  border: 1px solid grey;
  background-color: #DDDDDD;
  height: 45px;
  width: 45px;
  margin: 10px 5px;
  font-size: 14px;
}

.numbers {
  width: 50%;
  margin-left: 5%;
}

.numbers button {
  float: left; 
}

.function-btn {
  width: 40%;
}

.function-btn button {
  float: right;
}

#equals-btn {
  background-color: #c36f31;
}

@font-face {
  font-family: 'Bangers-Regular';
  src: url('Bangers-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Digital-7';
  src: url("digital7.ttf");
}

@media screen and (max-width: 345px) {
  .keyboard button {
    width: 40px;
    height: 40px;
  }
}